<h2>Secret Code List</h2>
<div class="product-block">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th class="col-md-2">Secret code</th>
        <th class="col-md-2"> User Associate with secret code</th>
      </tr>
    </thead>
    <tbody>
      <% @secret_codes.each do |secret_code| %>
        <tr>
          <td class="col-md-2"><%=secret_code.secret_code %></td>
          <% if secret_code.user.present? %>
            <td class="col-md-2">$<%=secret_code.user.email %></td>
          <%end%>
          <td class="col-md-4">
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<%= link_to 'New Secret Code', new_secret_code_path %>